---
layout: default
---
<article class="post">
  <h1>{{ page.title }}</h1>
  <p>작성일: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y.%m.%d" }}</time></p>
  {% if page.tags %}
  <p>Tags: {% for t in page.tags %}<span>{{ t }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
  {% endif %}

  <hr class="post-line">
  <div class="block">
    {{ content }}
  </div>

  <hr class="post-line">
  <p><a href="{{ '/blog/' | relative_url }}">← Back to blog</a></p>
</article>